*,
*:before,
*:after {
	box-sizing: border-box;
}

.calculator {
	display: flex;
	flex-direction: column;
	border: solid 4px black;
	width: 250px;
	height: 300px;
	margin: auto;
}

.display {
	flex: 1;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}

.keys {
	flex: 1;
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.digits,
.operators {
	display: flex;
	flex-flow: column wrap;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	gap: 3px;
	margin: 3px;
}

.digits {
	flex-basis: 80%;
}

.operators {
	flex-basis: 20%;
}

.key {
	flex: 1;
	align-items: center;
	justify-content: center;
	border: solid 2px black;
	background-color: white;
	border-radius: 10px;
	padding: 10px 0px;
	outline: none;
	text-align: center;
}

.row {
	display: flex;
	gap: 3px;
}

.key:hover {
	background-color: gray;
}

.key:active {
	background-color: green;
	transform: translateY(1px);
}
